div[data-grav-field="password"] {
   margin-bottom: 1rem;
}

body {
    font-size: 1rem;
}

.git-edit .g-content {
    margin: 0.26rem;
}

.radio {
    display: list-item;
}

.checkboxes {
    display: list-item;
}

#g-sidebar, #g-aside {
    padding: 0;
}
